.score-item {
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    margin-right: 1.25rem;
}

.score-circle-container {
    position: relative;
    margin-right: 0.75rem; 
}

.score-circle {
    width: 4rem; 
    height: 4rem; 
    border-radius: 9999px;
    border: 2px solid #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-number {
    font-size: 1.5rem; 
    font-weight: 300; 
}

.score-count {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #111827; 
    color: white;
    font-size: 0.65rem; 
    font-weight: 700; 
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 9999px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.score-text-content {
    display: flex;
    flex-direction: column;
}

.score-item-title {
    font-size: 1rem;
    font-weight: 600;
}

.score-item-desc {
    font-size: 0.875rem;
    color: #4b5563;
}