.Music {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
  padding: 1rem 0; 
}

.description {
  margin-top: 1rem;
  width: 480px;
  text-align: left;
}